# Kafka / Redpanda Stream Broker Configuration
KAFKA_BROKER=localhost:19092
KAFKA_TOPIC=raw_transactions
KAFKA_DLQ_TOPIC=raw_transactions_dlq

# Redis Online Feature Store Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# MinIO S3 Offline Feature Store Configuration
MINIO_ENDPOINT=http://localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadminpassword
MINIO_BUCKET=feature-store-offline
MINIO_SECURE=false

# Dataset & ML Tuning Parameters
DATASET_PATH=data/train_transaction.csv
DEFAULT_FP_COST=2.0
DEFAULT_DECISION_THRESHOLD=0.5

# Application Ports & Logging
LOG_LEVEL=INFO
FASTAPI_PORT=8000       # REST API Server port (FastAPI) for Online Inference
STREAMLIT_PORT=8501     # Real-time Dashboard port (Streamlit)
GRAFANA_PASSWORD=admin  # Grafana dashboard admin password
