# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Feast
feature_repository/data/
*.db

# DuckDB / Parquet
*.duckdb
*.parquet

# Data & Environment
data/*.csv
data/*.parquet
!data/.gitkeep
.env
.env.local

# IDE & OS
.vscode/
.idea/
.DS_Store

# Pytest / Logs
.pytest_cache/
*.log

docs/
